NTK_DATABASE_URL=
NTK_PORT=8000
NTK_DEBUG=true
NTK_OPEN_AI_API_KEY=
POSTGRES_USER=cristian # these postgres env variables are only for use by docker compose
POSTGRES_PASSWORD=
POSTGRES_DB=nutrition_toolkit
